<div class="card">
  <h2>Software</h2>
  <h3>
    Algunos proyectos realizados en mi
    <a href="https://github.com/Rodols">github</a>
  </h3>
  <div class="card-body">
    <article>
      <br />
      <div class="card-mini">
        <h3 class="title-white">Aplicaciones Moviles.</h3>
        <p class="description">
          Desarrolle aplicaciones android con android estudio utilizando java y
          kotlin con las cuales e utilizado bases de datos SQLite para guardar
          datos de forma local, servicios como firebase para tener un backend
          listo para utilizar utilizando los servicios de autentificacion,
          cloud-store, etc. Tambien utilise voley para poder consumir una api
          que cree utilizando php
        </p>
      </div>
      <br />
      <div class="card-mini">
        <h3 class="title-white">Desarrollo Web.</h3>
        <p class="description">
          Tengo conocimientos en angular el cual e utilizado para crear algunos
          proyectos SPA y PWA, como backend firebase al igual que el hosting de
          firebase. Otras paginas las desarrolle utilizando php, bootstrap y
          sql, tambien tengo conocimientos basicos en nodejs de como crear un
          api-res, al igual que con laravel. <br />
          <br />
        </p>
      </div>
    </article>
    <div class="card-mini">
      <h3 class="title-white">Lenguajes utilizados y frameworks</h3>
      <p class="description">C++, Java, Kotlin, PHP, JS, Angular, Laravel.</p>
    </div>
  </div>
</div>
