.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card-body {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-mini {
  text-align: center;
  font-weight: bolder;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  box-shadow: #006c87 1px 1px 2px 1px;
}
.description {
  margin: 3%;
  color: #0f0258;
  font-weight: 100;
  font-size: calc(0.5em + 1vw);
}

.git {
  color: #fd3a69;
}

.title-yellow {
  color: whitesmoke;
  border-radius: 5px;
  background-color: #fd3a69;
  padding: calc(0.2em + 1vw);
}

h2 {
  text-align: center;
  font-size: calc(1em + 1vw);
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0258;
}

h3 {
  padding: 0.5em;
  text-align: center;
  font-size: calc(0.4em + 1vw);
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0258;
}

@media screen and (max-width: 700px) {
  .card-body {
    flex-wrap: wrap;
    width: 95%;
  }
}
