<div class="main">
  <section class="skewedBox1">
  <div class="container"
    >
    <h1 @enterState>Hola Bienvenido!</h1>
    <hr @enterState>
    <h2 @enterState>Aquí muestro mis proyectos y experiencia como dev</h2>
  </div>
</section>
<section class="skewedBox2"
  #hardware>
  <div class="container">
     <app-hardware></app-hardware> 
  </div>
</section>
<section class="skewedBox3"
  #software>
  <div class="container">
   <app-software></app-software>   
  </div>
</section>
<section class="skewedBox4">
  <div class="container">
  <app-footer></app-footer>    
  </div>
</section>
</div>
