<div class="main">
    <section class="skewedBox1">
        <div class="container">
            <h1 @enterState>Hola Bienvenido!</h1>
            <hr @enterState>
            <h3 @enterState>Aquí muestro mis proyectos y experiencia como dev</h3>
        </div>
    </section>
    <section class="skewedBox2">
        <div class="container">
            <h2>Hardware</h2>
            <hr>
            <p class="description">Soy egresado del Tecnológico Superior de Xalapa donde estudie Ing. Electrónica con enfoque en la instrumentación. Desarrollo prototipos electrónicos con Arduino manejando los diversos sensores que existen en el mercado, dieseño y creación
                de PCB'S para poder llevar mis prototipos al siguiente nivel y hacer los proyectos mas funcionales y escalables; también e creado interfaces con aplicaciones Android y sistemas web para poder manipular dichos prototipos; con las interfaces
                se pretende ingresar al mundo del internet de las cosas y conseguir aplicar mis conocimientos para atender las necesidades o problemáticas de mi comunidad así como ayudar a otras personas a realizar sus proyectos e ideas</p>
        </div>
    </section>
    <section class="skewedBox3" #software>
        <div class="container">
            <h2>Desarrolo web</h2>
            <hr>
            <p class="description">Tengo conocimientos en angular el cual e utilizado para crear algunos proyectos SPA y PWA, como backend firebase al igual que el hosting de firebase. Otras paginas las desarrolle utilizando php, bootstrap y sql, tambien tengo conocimientos
                basicos en nodejs de como crear un api-res, al igual que con laravel.</p>
        </div>
    </section>
    <section class="skewedBox4" #software>
        <div class="container">
            <h2>Aplicaciones Moviles</h2>
            <hr>
            <p class="description">
                Desarrolle aplicaciones android con android estudio utilizando java y kotlin con las cuales e utilizado bases de datos SQLite para guardar datos de forma local, servicios como firebase para tener un backend listo para utilizar utilizando los servicios
                de autentificacion, cloud-store, etc. Tambien utilise voley para poder consumir una api que cree utilizando PHP.
            </p>
        </div>
    </section>
    <section class="skewedBox5">
        <div class="container">
            <h2>Proyectos personales</h2>
            <hr>
            <p class="description"> Aqui podras ver los distintos proyectos o practicas que he realizado.</p>
            <div class="projects">
                <div class="card">
                    <img src="../../../assets/img/vecinos_vigia.png" alt="">
                    <div class="card-description">
                        <h3>Alarma Vecinal</h3>
                        <hr>
                        <p class="description"> Aplicación web de una escuela para el proceso de inscripciones en línea y el control de pagos. Está hecha con Angular, Bootstrap,Firebase..</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets/img/cea_acueducto.png" alt="">
                    <div class="card-description">
                        <h3>Cea-acueducto</h3>
                        <hr>
                        <p class="description">Aplicación PWA para una alarma vecinal que enviá notificaciones push a un grupo de vecinos. Está hecha con Angular, Firebase, y Bootstrap. </p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets/img/asesorias.png" alt="">
                    <div class="card-description">
                        <h3>Asesorias de matemáticas</h3>
                        <hr>
                        <p class="description">Pagina de un centro educativo de asesorias de matemáticas fisica y quimica.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../../assets/img/pc_retro.jpg" alt="">
                    <div class="card-description">
                        <h3>Practicas</h3>
                        <hr>
                        <p class="description">Ejercicios practicos de programación realizados .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>