.container h1 {
    margin: 0;
    padding: 1%;
    font-size: calc(1.5em + 1vw);
    color: whitesmoke;
    text-transform: uppercase;
}

.container h2 {
    padding: 1em 0;
    margin: 0;
    text-transform: uppercase;
    font-size: calc(0.8em + 1vw);
    color: whitesmoke;
    font-weight: 600;
}

.description {
    padding: 1%;
    color: whitesmoke;
    font-weight: 100;
    font-size: calc(0.2em + 1vw);
}

hr {
    opacity: 0.3;
}

h3 {
    padding: 1%;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: calc(0.3em + 1vw);
    font-weight: 200;
}

h4 {
    font-size: calc(0.5em + 1vw);
}

.main {
    width: 100%;
    background-color: #333333;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects .card {
    width: 40%;
    border: none;
    margin-top: 5%;
    background-color: #3f3f3f;
}

.projects .card-description {
    padding: 5%;
}

.projects .card img {
    width: 100%;
    height: 16rem;
    padding: 0;
    margin: 0;
}

.skewedBox1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    background-color: #333333;
    transform: skew(-0deg, -5deg) translateY(-5%);
}

.skewedBox2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgb(76, 102, 248);
    padding: 5% 0;
    transform: skew(-0deg, -5deg) translateY(35%);
}

.skewedBox3 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(87, 111, 245);
    padding: 5% 0;
    transform: skew(0deg, 5deg) translateY(5%);
}

.skewedBox4 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgb(72, 91, 196);
    padding: 5% 0;
    transform: skew(-0deg, -5deg) translateY(-25%);
}

.skewedBox5 {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    background-color: #333333;
    padding: 5% 0;
    transform: skew(0deg, 5deg) translateY(-35%);
}

.skewedBox1 .container {
    width: 100%;
    margin: 20% 20% 2% 20%;
    padding: 0;
    transform: skew(0deg, 5deg);
}

.skewedBox2 .container {
    text-align: end;
    line-height: calc(0.8em + 1vw);
    margin: 0 20% 20% 20%;
    padding: 0;
    transform: skew(0deg, 5deg);
}

.skewedBox3 .container {
    line-height: calc(0.8em + 1vw);
    margin: 0 20% 20% 20%;
    padding: 0;
    transform: skew(0deg, -5deg);
}

.skewedBox4 .container {
    text-align: end;
    line-height: calc(0.8em + 1vw);
    margin: 0 20% 20% 20%;
    padding: 0;
    transform: skew(0deg, 5deg);
}

.skewedBox5 .container {
    width: 100%;
    margin: 0 20% 20% 20%;
    padding: 0;
    line-height: calc(0.8em + 1vw);
    transform: skew(0deg, -5deg);
}