section {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.section1 button {
  cursor: pointer;
}

.card-mini {
  text-align: center;
  background: #0f0258;
  color: #fecd1a;
  font-weight: bolder;
  font-size: calc(0.5em + 1vw);
  padding: calc(0.3em + 1vw);
  margin: calc(0.3em + 1vw);
  border-radius: 5px;
  box-shadow: rgb(221, 219, 233) 2px 1px 5px 1px;
}

.contact {
  padding: calc(0.1em + 1vw);
  border: none;
  border-radius: 5px;
  box-shadow: rgb(15, 2, 88) 2px 1px 5px 1px;
  text-align: center;
  font-weight: bold;
  background-color: #0f0258;
  color: whitesmoke;
}

.contact span {
  color: #fecd1a;
}

h4 {
  font-size: calc(0.4em + 1vw);
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../assets/img/pc_glasses.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url(../../../assets/img/spencer.jpg); */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(../../../assets/img/ilya-pavlov.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url(../../../assets/img/pc_retro.jpg); */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url(../../../assets/img/pc_retro.jpg); */
  background: lin;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation-name: spin;
  animation-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.section3::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgb(15, 2, 88);
  position: absolute;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}

.section5::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: #0f0258;
  position: absolute;
  left: 0;
  opacity: 0.7;
  z-index: -1;
  rotate: 45;
}
