<section class="section1">
  <div @enterState>
    <button type="button" class="btn" (click)="hardwareVer()">Hardware</button>
    <button type="button" class="btn" (click)="serviciosVer()">
      Servicios
    </button>
    <button type="button" class="btn" (click)="softwareVer()">Software</button>
    <h4 class="contact">
      <span>WhatsApp:</span> 2292462909, <span> Email:</span>
      vazquezbr.28@gmail.com
    </h4>
  </div>
</section>
<section class="section2" @enterState #servicios>
  <app-servicios></app-servicios>
</section>
<section class="section3" #hardware>
  <app-hardware></app-hardware>
</section>
<section class="section4" #software>
  <app-software></app-software>
</section>
<section class="section5">
  <app-footer></app-footer>
</section>
