<h3 class="title-white">rvb-system</h3>
<article>
  <ul class="list">
    <li class="card-footer">Creación de paginas web</li>
    <li class="card-footer">Creación de aplicaciones android</li>
    <li class="card-footer">Desarrollo y asesoría de proyectos arduino</li>
    <li class="card-footer">Asesorias en tareas y proyectos de programación</li>
    <li class="card-footer">
      Impresion 3D (Imprime tus diseños, diseños a medida)
    </li>
    <li class="card-footer">
      Aumenta la velocidad de tu pc!(instalacion de ssd)
    </li>
    <li class="card-footer">Formateo de computadoras</li>
    <li class="card-footer">
      Asesoria en programas de simulación electronica(Labview,proteus,etc)
    </li>
  </ul>
  <ul class="list">
    <h4 class="contact">
      <span>WhatsApp:</span> 2292462909, <span> Email:</span>
      vazquezbr.28@gmail.com
    </h4>
  </ul>
</article>
