.card-footer {
  text-align: center;
  background: #0f0258;
  color: whitesmoke;
  font-weight: bolder;
  font-size: calc(0.3em + 1vw);
  padding: calc(0.3em + 1vw);
  margin: calc(0.3em + 1vw);
  border-radius: 5px;
  box-shadow: rgb(15, 2, 88) 2px 1px 5px 1px;
}

.contact {
  padding: calc(0.1em + 1vw);
  font-size: calc(0.4em + 1vw);
  border: none;
  border-radius: 5px;
  box-shadow: rgb(15, 2, 88) 2px 1px 5px 1px;
  text-align: center;
  font-weight: bold;
  background-color: #0f0258;
  color: whitesmoke;
}

.contact span {
  color: #fecd1a;
}

.title-yellow {
  font-weight: bold;
  font-size: calc(1.2em + 1vw);
  text-transform: uppercase;
  color: #fecd1a;
  text-align: center;
}

.list {
  margin: calc(1.2em + 1vw);
  font-weight: 300;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
}
