<div class="card">
  <article class="card-body">
    <h2 class="title-yellow">Diseño de hardware</h2>
    <p class="description">
      Soy egresado del Tecnologico Superior de Xalapa donde estudie Ing.
      Electronica con enfoque en la instrumentacion. Desarrollo prototipos
      electrónicos con arduino manejando los diversos sensores que existen en el
      mercado, dieseño y creacion de pcbs para poder llevar mis prototipos al
      siguiente nivel y hacer los proyectos mas funcionales y esacalables;
      tambien e creado interfaces con aplicaciones android y sistemas web para
      poder manipular dichos prototipos; con las interfaces se pretende ingresar
      al mundo del internet de las cosas y conseguir aplicar mis conocimientos
      para atender las necesidades o problematicas de mi comunidad asi como
      ayudar a otras personas a realizar sus proyectos e ideas.
    </p>
  </article>
</div>
