<article>
  <h2>Servicios</h2>
  <hr>
  <div class="card-body">
    <ul class="list">
      <li class="card-mini">Paginas web</li>
      <li class="card-mini">Aplicaciones Android</li>
      <li class="card-mini">Proyectos Arduino</li>
      <li class="card-mini">Asesorias en proyectos de programación</li>
      <li class="card-mini">
        Asesoria en programas de simulación electrónica(Labview,proteus,etc)
      </li>
      <li class="card-mini">
        Impresion 3D (Imprime tus diseños, diseños a medida)
      </li>
      <li class="card-mini">
        Aumenta la velocidad de tu PC!(instalación de SSD)
      </li>
      <li class="card-mini">Formateo de computadoras</li>
    </ul>
  </div>
</article>
