.card-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-mini {
  text-align: center;
  color: #0f0258;
  font-weight: bolder;
  font-size: calc(0.5em + 1vw);
  padding: calc(0.3em + 1vw);
  margin: calc(0.3em + 1vw);
  border: none;
  border-radius: 5px;
  box-shadow: #006c87 1px 1px 2px 1px;
}

h2 {
  text-align: center;
  font-size: calc(1em + 1vw);
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0258;
}

.list {
  width: 80%;
  margin: calc(0.3em + 1vw);
  font-weight: 300;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
