<article>
  <h2>Servicios</h2>
  <ul class="list">
    <li class="card-mini">Creación de paginas web</li>
    <li class="card-mini">Creación de aplicaciones android</li>
    <li class="card-mini">Desarrollo y asesoría de proyectos arduino</li>
    <li class="card-mini">Asesorias en tareas y proyectos de programación</li>
    <li class="card-mini">
      Asesoria en programas de simulación electronica(Labview,proteus,etc)
    </li>
    <li class="card-mini">
      Impresion 3D (Imprime tus diseños, diseños a medida)
    </li>
    <li class="card-mini">
      Aumenta la velocidad de tu pc!(instalacion de ssd)
    </li>
    <li class="card-mini">Formateo de computadoras</li>
  </ul>
  <br />
</article>
