/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: lato;
    src: url(./assets/fonts/Lato/Lato-Regular.ttf) format("opentype");
}

body {
    min-width: 320px;
    max-width: 1980;
    background-color: #33415C;
}


/*Colores*/


/*azul
/* CSS HEX */


/*
--prussian-blue: #012a4aff;
--indigo-dye: #013a63ff;
--indigo-dye-2: #01497cff;
--usafa-blue: #014f86ff;
--sapphire-blue: #2a6f97ff;
--celadon-blue: #2c7da0ff;
--blue-green: #468fafff;
--maximum-blue: #61a5c2ff;
--dark-sky-blue: #89c2d9ff;
--light-blue: #a9d6e5ff;
*/